
repos:
  - repo: local
    hooks:
      - id: eslint
        name: lint
        language: node
        entry: npm run lint
        files: ^src/
        types_or: [javascript, jsx, ts, tsx]


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
