
repos:
  - repo: local
    hooks:
      - id: eslint
        name: lint and format
        language: node
        entry: pnpm run lint_and_format
        files: .
        types_or: [javascript, jsx, ts, tsx, vue]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
