html,
body {
  background-color: $main-bg-color;
}

.main-container {
  min-height: calc(100vh - 80px);
}

@media (min-width: 576px) {
  .main-container {
    padding: 40px 100px 100px 100px;
  }
}

.footer-container {
  background-color: $info;
  background-color: #dcdcdc;
  width: 100%;
  padding: 10px !important;
  bottom: 0;
  display: flex;
  height: 36px;
  margin-top: -36px;
  font-size: 14px;

  & span {
    width: 100%;
  }
}

.logo {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  color: $primary;
}

.header-navbar {
  background-color: $app-header-bg-color;
}

@media (min-width: 576px) {
  .header-navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.question-id {
  font-size: 1.3rem;
  font-weight: 700;
}

.question-title {
  font-size: 1.3rem;
}

.legend-color {
  width: 14px;
  height: 14px;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

.legend-label {
  font-size: 14px;
  clear: left;
}

.legend-row {
  line-height: 1.3;
  color: $mid-grey;
}

.doughnut-container {
  max-width: 200px;
  max-height: 200px;
  min-height: 100px;
  min-width: 100px;
  margin: auto;
}

@media (max-width: 1140px) {
  .doughnut-container {
    max-width: 280px;
    max-height: 280px;
  }
}

.line-container {
  max-width: 480px;
  max-height: 200px;
  min-height: 100px;
  min-width: 240px;
  margin: auto;
}

.line-col {
  min-width: 300px;
}

.doughnut-col {
  min-width: 100px;
}

.title-col {
  min-width: 240px;
}

.survey-results-outer-container {
  border: 0px;
  background: none;
}

.display-options-outer-container {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

.display-options-container {
  //   background-color: $info;
  //   border: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shadow {
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15) !important;
}

.display-option {
  font-size: 1rem;
}

.display-option-description {
  font-size: 0.9rem;
  color: $dark-grey;
  line-height: 0.8;
}

.display-options-icon {
  transition: all 0.4s ease;

  &.active {
    transform: rotate(180deg);
  }
}

.pointer {
  cursor: pointer;

  & input,
  label {
    cursor: pointer;
  }
}

.btn:focus,
input:focus,
input[type='checkbox']:focus {
  box-shadow: none !important;
}

.table-default {
  background-color: white;
}

.table-default {
  & th {
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.2s ease;
    font-family: $headings-font-family;

    &:hover {
      text-decoration: underline;
    }
  }

  & .table-accent {
    background-color: $accent;
  }

  & .text-muted span { 
    text-decoration: line-through;
  }

  & .text-muted {
    color: lighten($dark-grey, 20) !important;
    background-color: rgba(0, 0, 0, 0.03) !important;

    &.table-accent {
      background-color: lighten($accent, 20) !important;
    }

    & .b-icon.bi {
      color: darken($info, 5) !important;
    }

    & .update-info {
      font-size: 80%;
      text-decoration: none !important;
    }
  }

  & tbody tr:hover .table-accent {
    background-color: darken($accent, 10);
  }

  & .flip-list-move {
    transition: transform 0.4s ease;
  }
}

.small-dropdown-icon {
  font-size: 100% !important;
}

.table-check-icon,
.table-cross-icon,
.table-dash-icon {
  font-size: 110%;
  margin-top: 4px;
  margin-left: 4px;
}

.table-check-icon {
  color: $primary;
}

.table-cross-icon {
  color: darken($accent, 20);
}

.table-dash-icon {
  color: darken($info, 40);
}


// Time Slider

.vue-slider-process {
  background-color: $primary;
}

.vue-slider-dot-tooltip-inner {
  border-color: $primary;
  background-color: $primary;
}

.vue-slider-rail {
  background-color: darken($info, 5);
}


.vue-slider {
  & .vue-slider-mark {
    height: 5px !important;
    width: 5px !important;

    & .vue-slider-mark-step {
      box-shadow: 0 0 0 3px darken($info, 5);
    }

    & .vue-slider-mark-step-active {
      box-shadow: 0 0 0 3px $primary;
    }
  }

  & .vue-slider-dot-handle {
    border: 4px solid $primary;
  }
}

.vue-slider:hover {
  cursor: pointer;
  transition: all 400ms ease;

  & .vue-slider-dot-handle,
  .vue-slider-dot-handle:hover {
    border: 4px solid $primary;
  }

  & .vue-slider-mark {
    height: 5px !important;
    width: 5px !important;

    & .vue-slider-mark-step {
      box-shadow: 0 0 0 3px darken($info, 5);
    }

    & .vue-slider-mark-step-active,
    .vue-slider-mark-step-active:hover {
      box-shadow: 0 0 0 3px lighten($primary, 7);
    }
  }

  & .vue-slider-rail {
    background-color: darken($info, 5);
  }

  & .vue-slider-process {
    background-color: lighten($primary, 7);
  }

  & .vue-slider-dot-tooltip-inner {
    transition: all 200ms ease;
    border-color: lighten($primary, 7);
    background-color: lighten($primary, 7);
  }
}