$font-family-sans-serif: "Rubik", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Montserrat", sans-serif;
$enable-shadows: true;
$enable-gradients: true;
$font-weight-base: 300;

$primary: #7468e8;
$secondary: #34a5e8;
$info: #dcdcdc;
$danger: #d18e8e;
$success: #77bb70;
$warning: #ffc107;
$accent: #dbe868;

$app-header-bg-color: #e6e6e6;
$main-bg-color: #f3f3f3;

$light-grey-1: #c9c9c9;
$light-grey-2: #c8c8c8;
$mid-grey: #848484;
$dark-grey: #575757;

$super-light-purle: #f4f3fb;

$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1920px,
);
