@import "print.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply px-4 py-1 m-1 text-sm transition-colors duration-300 rounded shadow-md bg-slate-800 hover:bg-slate-600 text-slate-100 shadow-slate-400/30;
  }

  button:disabled {
    @apply bg-gray-400 text-gray-200;
    cursor: not-allowed;
  }

  #top-nav {
    @apply px-4 py-1 rounded rounded-full shadow-md bg-slate-500 text-slate-100 shadow-slate-400/30;
  }
}
