name: CI/CD

on:
  push:
    branches:
    - main
    tags:
    - '**'
  pull_request:

permissions:
  packages: write
  contents: write

jobs:
  test:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/Iron'
          cache: 'pnpm'
      - name: install dependencies
        run: pnpm install
      - name: lint with eslint
        run: pnpm run lint_and_format

  build:
    name: build docker
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "DOCKER_TAG=$(echo ${{ github.ref_name }} | sed 's/[^a-z0-9_.-]/__/gi')" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/ait-cs-iaas/koord2ool:latest
            ghcr.io/ait-cs-iaas/koord2ool:${{env.DOCKER_TAG}}
